# virtual environment
.venv/

# bytecode
__pycache__/

# macos specific file
.DS_Store

# local env variable settings
set_env.sh

# converted XML file for debugging
converted.xml

# input XML for debugging
input.xml
